---
- name: Configure the servers
  hosts: ec2
  become: yes

  tasks:
  - block:

    - name: Install ansible
      shell: "apt-get update && apt-get install -y software-properties-common && apt-add-repository --yes --update ppa:ansible/ansible && apt-get -y install ansible"

    - name: Create Ansible directory
      file:
        path: /home/ubuntu/Ansible
        state: directory

    - name: Copy Ansible files
      copy: 
        src: Ansible
        dest: /home/ubuntu/
      register: copy_output
    
    - name: "copy output"
      debug:
        msg: "{{ copy_output }}"
    
    - name: Copy keypair  
      copy:
        src: ipseckeypair.pem
        dest: /home/ubuntu/Ansible/ipseckeypair.pem
        mode: 0600

    - name: Copy inventory
      copy:
        src: inventory
        dest: /home/ubuntu/Ansible/inventory

    - name: Start roles
      command: "chdir=/home/ubuntu/Ansible  ansible-playbook -i inventory configure.yml"
      register: role_output
    
    - name: Role result
      debug:
        msg: "{{ role_output.stdout_lines }}"

    when: inventory_hostname == "ansiblecn"

  - block:

    - name: Jenkins Password
      shell: "cat /var/lib/jenkins/secrets/initialAdminPassword"
      register: jenkinspassword

    - name: Jenkins password
      debug:
        msg: "{{ jenkinspassword }}"

    when: inventory_hostname == "jenkins"